<h2>{{title}}</h2>

<ul>
  <li>{{name}}</li>
  <table *ngIf="users != undefined && users.length > 0 else isEmpty">
    <thead>
    <tr>
      <th>id</th>
    <th>name</th>
    </tr>
    </thead>

    <tbody>

    <tr *ngFor="let user of users; index as i" >
      <td> {{i + 1}} </td>
      <td> {{user}} </td>

    </tr>
    </tbody>

  </table>
</ul>
<ng-template #isEmpty>\

</ng-template>
  <div class="">
    <h3>No users found</h3>
  </div>
  @for (item of items; track id;let index = $index) {
    <li>{{ item }}</li>
  } @empty {
    <li>There are no items.</li>
  }
